*{
  font-family: Arial;
  margin: 0
}
/*head*/
.head-wrap{
  background-image: url(../images/person/1.png);
  background-size: cover;
  width: 100%;
  height: 28%;
  padding-top: 15vw;
  padding-bottom: 6vw;
}
.st-wrap{
  display: block;
  margin: 0 auto;
  width: 23vw;
  height: 23vw;
  border-radius: 50%;
  background-image: url(../images/person/7.png);
  background-size: cover;
}
.st-wrapp{
  text-align: center;
  padding: 3vw;
  color: #fff;
}
.st-wrappp{
  width: 40%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content:space-around;
}
.head-wrap h3{
  margin: 0;
  font-size: 4vw;
  line-height: 6vw
}
.st-wrappp span{
  font-size: 3vw;
}
.glyphicon-cog{
  font-size: 7vw;
  color: #fff;
  position: absolute;
  right: 5vw;
  top: 6vw
}
/*main*/
.main-warp{
  width: 95%;
  margin: 0 auto;;
}
.h-warp{
  display: flex;
  position: relative;
}
.yixiang-right{
  position: absolute;
  right: 0;
  background-color: red;
  width: 100px;
  display: flex;
  margin-top: 2vw;
  border-radius: 20px 0 0 20px;
}
.yixiang-p{
  display: block;
  font-size: 3vw;
  color: #fff;
  margin: 0;
  line-height: 7vw;
  margin-left: 5vw;
}
.yixiang-p1{
  margin-left: 3vw;
}
.yixiang-left{
  font-size: 5vw;
  margin: 0;
  line-height: 10vw;
}
/*dingyue*/
.dingyue{
  display: flex;
  flex-direction:row;
}
.dingyue-wrap{
  width: 30vw;
  height: 12vh;
  margin:3px;
}
.dingyue-wrap h3{
  margin: 0;
  text-align: center;
  line-height: 12vh;
  color: #fff;
  font-size: 5vw;
}
.dingyue-wrap1{
  background-image: url(../images/person/2.png);
  background-size: cover;
}
.dingyue-wrap2{
  background-image: url(../images/person/3.png);
  background-size: cover;
}
.dingyue-wrap3{
  background-image: url(../images/person/4.png);
  background-size: cover;
}
.dingyue p{
  margin: 0;
  font-size: 4vw;
  text-align: center;
}

/*footer*/
.footer-top{
  display: flex;
  flex-direction:row;
  background-color: #666;
}
.footer-top p{
  margin: 0;
  width: 50%;
  text-align: center;
  color: #fff;
  line-height: 9vw;
}
.footer-p1{
  background-color: red;
  border-radius: 0 20px 20px 0;
}
.footer-p2{

}
.footer-bottom{
  display: flex;
  flex-direction:row;
}
.footer-img{
  width: 48vw;
  height: 28.5vh;
  margin: 0 auto;;
  margin: 5px 2px 0 4px;
  background-size: cover;
}
.footer-img1{
  background-image: url(../images/person/5.png);
}
.footer-img2{
  background-image: url(../images/person/6.png);
}
