.publish-wrap{
	flex-grow: 1;
	height: 90vh;
}
.public-top img{
	max-width: 9vh;
}
.public-top{
	border-bottom: 1px solid #000;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	display: flex;
}
.public-top h2{
  color: #dc2213;
	margin: 2.5vh 0;
	margin-left: 17vh;
	font-size: 3.5vh;

}
.public-top img{
	float: right;
}
.public-main{
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	background-image: url('../images/littlepic/bgi.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.main-top textarea{
	width: 100%;
	height: 38vh;
	border: none;
	resize:none;
	outline:none;
	background-color: rgba(255,255,255,0);
}
.main-main{
	border: 1px solid #ddd;
	height: 28vh;
	margin: 0 auto;
	background-color: #ddd;
}
.main-main a{
	display: block;
	font-size: 2vh;
	text-decoration: none;
	color: #dc2213;
	text-align: center;
	margin-top: 7vh;
}
.main-main img{
	max-width: 4vh;
}
.main-footer{
	margin: 0 auto;
	border-bottom: 1px solid #000;
}
.main-footer img{
	display: block;
	max-width: 4vh;
	padding: 2vh 0;
}
.public-footer{
	width: 90%;
	margin: 0 auto;
	padding: 1vh 0;
	height: 5vh;
}
.public-footer img{
	max-width: 2vh;
	float: left;
}
.public-footer a{
	display: block;
	float: left;
	font-size: 2vh;
	text-decoration: none;
	color: #dc2213;
	margin-left: 1vh;
}
.public-footer .book{
	margin-left: 30%;
}
.public-footer img{
	max-width: 2vh;
}
