*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper-container {
    width: 100%;
    height: 100vh;
}
.swiper-wrapper{
  width: 100%;
  height: 100%;
}
.swiper-slide{
  background-size: cover;
  background-position: 50% 50%;
}
.slide1{
  background-image: url(../images/loading/1.jpg);
}
.slide2{
  background-image: url(../images/loading/2.jpg);
}
.slide3{
  background-image: url(../images/loading/3.jpg);
}
.slide4{
  background-image: url(../images/loading/4.jpg);
}
.slide5{
  background-image: url(../images/loading/5.png);
}
