.swipercontainer {
    width: 100%;
    height: 100vh;
}
.swiperwrapper{
  width: 100%;
  height: 100%;
}
.same{
  background-size: cover;
  background-position: 50% 50%;
}
.slideOne{
  background-image: url(../images/loading/1.jpg);
}
.slideTwo{
  background-image: url(../images/loading/2.jpg);
}
.slideThree{
  background-image: url(../images/loading/3.jpg);
}
.slideFour{
  background-image: url(../images/loading/4.jpg);
}
.slideFive{
  background-image: url(../images/loading/5.png);
}
